#{extends 'main.html' /}
#{set title:'PubMed Watcher' /}

#{menu 'home-link' /}

<script type="text/javascript">
$(document).ready(function() {
	$('.google-signin').popover();
	$('.signin-text').show();
	$('.loader').hide();
	
	$('.btn-primary').click(function(){
		$('.signin-text').hide();
		$('.loader').show();
	});
});
</script>


<div class="container">
	<div class="jumbotron">
		<h1>PubMed Watcher</h1>
		<p class="lead">
		Tailored biomedical literature feed. Define your research with up to 4 Key Articles. Read relevant text!
		</p>
		<a class="btn btn-large btn-primary" href="@{Security.login()}"><span class="signin-text">Sign in via Google >></span>
		<img class="loader" style="display: none;" src="@{'/public/images/ajax-loader.gif'}" /></a>
		<p style="margin-top: 10px;">
			<a href="#" class="google-signin" data-toggle="popover" 
			data-placement="bottom" 
			data-content="PubMed Watcher relies on Google secure authentification. 
			The application only uses your email address to keep
			track of your profile and doesn't have access to your password. You can delete your PubMed Watcher account any time :-)" 
			title="" data-original-title="Sign in via Google?">What does it mean?</a>
		</p>
	</div>
	
	#{footer /}	
</div>