#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Logged in</h1>
<a href="/logout">Logout</a>
<p>${email}</p>
<p>Total: ${relatedArticles.size()}</p>
#{list items:keyArticles, as:'keyArticle'}
#{keyArticle keyArticle /}
#{/list}

%{
  for(int i = keyArticles.size(); i < 4; i++) { 
}%
  #{GhostKeyArticle /}
%{
  }
}%

//TODO special tag for related articles
#{list items:relatedArticles, as:'relatedArticle'}
<p>${relatedArticle.pmid} - ${relatedArticle.standardizedSimilarity} - 
<a href="@{Application.markAsRead(relatedArticle.id)}" class="btn">mark as read</a></p>
#{/list}