#{extends 'main.html' /}
#{set title:'Home' /}
#{script 'pubmed-loader.js' /}

<a href="/logout">Logout</a>
<a href=@{Application.read()}>read articles</a>
<p>${email}</p>
<p>Total: ${relatedArticles.size()}</p>
#{list items:keyArticles, as:'keyArticle'}
#{keyArticle keyArticle /}
#{/list}

%{
  for(int i = keyArticles.size(); i < 4; i++) { 
}%
  #{GhostKeyArticle /}
%{
  }
}%

<div id="related-articles">
#{list items:relatedArticles, as:'relatedArticle'}
<div id="${relatedArticle.pmid}" data-score="${relatedArticle.standardizedSimilarity}">
</div>
<hr>
#{/list}
</div>

<button id="showMore" class="btn" data-pagination="${relatedArticles.size()}" type="button">Show More</button>

<script type="text/javascript">
$(document).ready(function() {
	loadDocuments('${pmids}');
});
</script>
