#{extends 'main.html' /}
#{set title:'PubMed Watcher - Feed' /}
#{script 'pubmed-loader.js' /}

#{set email:email /}
#{menu 'home-link' /}

#{list items:keyArticles, as:'keyArticle'}
#{keyArticle keyArticle /}
#{/list}

%{
  for(int i = keyArticles.size(); i < 4; i++) { 
}%
  #{GhostKeyArticle /}
%{
  }
}%

<div class="container" id="related-articles">
#{list items:relatedArticles, as:'relatedArticle'}
<div class="" style="display: none;" id="${relatedArticle.pmid}" data-score="${relatedArticle.standardizedSimilarity}">
<a href="@{Application.markAsRead(relatedArticle.id)}" class="btn">mark as read</a>
</div>
<hr>
#{/list}
</div>

<button id="showMoreRelatedArticles" class="btn" data-pagination="${relatedArticles.size()}" type="button">Show More</button>

<script type="text/javascript">
$(document).ready(function() {
	loadDocuments('${pmids}');
});
</script>
