#{extends 'main.html' /}
#{set title:'Read articles' /}
#{script 'pubmed-loader.js' /}

#{set email:email /}
#{menu '.read-link' /}

<div id="read-articles" class="container">

#{if readArticlePmids.size() < 1}
<div class="well">
You don't have any read articles yet.
</div>
#{/if}

<div class="loader-articles" style="text-align: center; display: none;"><img src="@{'/public/images/ajax-loader.gif'}"></div>
#{list items:readArticlePmids, as:'readArticlePmid'}
<div class="well" style="display: none;" id="${readArticlePmid}">
<a href="@{Application.unMarkAsRead(readArticlePmid)}" class="btn btn-mini">
	<i class="icon-eye-close"></i> mark as unread</a>
</div>
#{/list}
</div>

#{if someLeft}
<div class="container text-center" style="margin-bottom: 20px;">
	<button id="showMoreReadArticles" class="btn btn-large show-more" data-pagination="${readArticlePmids.size()}" type="button" style="display: none;">
		<span>show more</span>
		<img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
	</button>
</div>
#{/if}

<script type="text/javascript">
$(document).ready(function() {
	loadDocuments('${pmids}');
});
</script>
