#{extends 'main.html' /}
#{set title:'Read articles' /}
#{script 'pubmed-loader.js' /}

#{set email:email /}
#{menu '.read-link' /}

<div id="read-articles" class="container">
#{list items:readArticlePmids, as:'readArticlePmid'}
<div class="well" style="display: none;" id="${readArticlePmid}">
<a href="@{Application.unMarkAsRead(readArticlePmid)}" class="btn btn-mini">
	<i class="icon-eye-close"></i> mark as unread</a>
</div>
#{/list}
</div>

<div class="container text-center" style="margin-bottom: 20px;">
	<button id="showMoreReadArticles" class="btn btn-large show-more" data-pagination="${readArticlePmids.size()}" type="button" style="display: none;">
		show more
	</button>
</div>


<script type="text/javascript">
$(document).ready(function() {
	loadDocuments('${pmids}');
});
</script>
